header{
	border-bottom: 2px solid #dddddd;
}

#agileHub{
    width:auto;
}

#agileHub b{
	color: #1292D3;
    font-weight: 700;
}

.mainMenu ul li{
	float:left;
	font-weight: bold;
	display: inline-block;
	margin: 25px 25px 0 0;
	padding: 0 10px 8px 10px;
}

.mainMenu ul li:hover{
	border-bottom: 5px solid  #1292D3;
}

.mainMenu ul{
	list-style: none;
	position: absolute;
}